<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>Lovrabet 智能系统</title>
        <!-- 使用 th:attr 动态设置 href -->
        <link rel="icon" th:attr="href='https://g.yuntooai.com/dist/app-platform/' + ${appPlatformVersion} + '/default-logo.svg'"
              href="https://g.yuntooai.com/dist/app-platform/1.5.1/default-logo.svg"/>
        <link rel="stylesheet" href="https://g.alicdn.com/code/lib/antd/5.27.2/reset.min.css"/>
        <!-- yuntoo 基础组件样式 -->
        <link rel="stylesheet" th:attr="href='https://g.yuntooai.com/dist/antd-meta/' + ${rendererVersion} + '/yuntoo-meta.css'"
              href="https://g.yuntooai.com/dist/antd-meta/1.0.98/yuntoo-meta.css"/>
        <link rel="stylesheet" th:attr="href='https://g.yuntooai.com/dist/antd-smart/' + ${rendererVersion} + '/yuntoo-smart.css'"
              href="https://g.yuntooai.com/dist/antd-smart/1.0.98/yuntoo-smart.css"/>
        <!-- yuntoo render engine -->
        <link rel="stylesheet" th:attr="href='https://g.yuntooai.com/dist/page-react-renderer/' + ${rendererVersion} + '/page-react-renderer.css'"
              href="https://g.yuntooai.com/dist/page-react-renderer/1.0.98/page-react-renderer.css"/>
        <link rel="stylesheet" crossorigin th:attr="href='https://g.yuntooai.com/dist/app-platform/' + ${appPlatformVersion} + '/app-platform.css'"
              href="https://g.yuntooai.com/dist/app-platform/1.5.1/app-platform.css">
        <script th:inline="javascript">
            window.__GLOBAL__ = window.__GLOBAL__ || {};
            window.__GLOBAL__.deploymentConfig = {
                APP_CODE: /*[[${appCode}]]*/ "app-c2dd52a2",
                RUNTIME_API_DOMAIN: /*[[${apiDomain}]]*/ "http://127.0.0.1:8080"
            };
        </script>
    </head>
    <body th:data-app-code="${appCode}" th:data-api-domain="${apiDomain}">
        <div id="root"></div>
        <!-- lodash & dayjs，基础 lib 依赖 -->
        <script src="https://g.alicdn.com/code/lib/lodash.js/4.17.21/lodash.min.js"></script>
        <script src="https://g.alicdn.com/code/lib/dayjs/1.11.13/dayjs.min.js"></script>
        <!-- React & React DOM -->
        <script src="https://g.alicdn.com/code/lib/react/18.3.1/umd/react.production.min.js"></script>
        <script src="https://g.alicdn.com/code/lib/react-dom/18.3.1/umd/react-dom.production.min.js"></script>
        <!-- React 向下兼容，预防物料层的依赖 -->
        <script src="https://g.alicdn.com/code/lib/prop-types/15.8.1/prop-types.js"></script>
        <!-- antD -->
        <script src="https://g.alicdn.com/code/lib/antd/5.27.2/antd.min.js"></script>
        <!-- yuntoo 基础组件 -->
        <script th:attr="src='https://g.yuntooai.com/dist/antd-meta/' + ${rendererVersion} + '/yuntoo-meta.umd.cjs'"
                src="https://g.yuntooai.com/dist/antd-meta/1.0.98/yuntoo-meta.umd.cjs"></script>
        <script th:attr="src='https://g.yuntooai.com/dist/antd-smart/' + ${rendererVersion} + '/yuntoo-smart.umd.cjs'"
                src="https://g.yuntooai.com/dist/antd-smart/1.0.98/yuntoo-smart.umd.cjs"></script>
        <!-- yuntoo render engine -->
        <script th:attr="src='https://g.yuntooai.com/dist/page-react-renderer/' + ${rendererVersion} + '/page-react-renderer.umd.cjs'"
                src="https://g.yuntooai.com/dist/page-react-renderer/1.0.98/page-react-renderer.umd.cjs"></script>
        <script type="module" crossorigin th:attr="src='https://g.yuntooai.com/dist/app-platform/' + ${appPlatformVersion} + '/app-platform.js'"
                src="https://g.yuntooai.com/dist/app-platform/1.5.1/app-platform.js"></script>
    </body>
</html>